
/* Barra de navegación */
.header{
    display: flex;
}
.barra{
    background: rgb(73,107,185);
    background: linear-gradient(90deg, rgba(73,107,185,1) 0%, rgba(82,160,193,1) 43%, rgba(26,96,255,1) 76%, rgba(81,153,164,1) 100%);
    width: 100vw;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
}

.quieroempezar a{
    background: RADIAL-gradient( rgb(255, 213, 0) 25%,rgb(255, 229, 97) 50%,rgb(255, 234, 0) 75%, rgb(255, 200, 0) 100%);
    background-size: 300%;
    color: rgb(7, 7, 108);
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    text-decoration: none;
    /* margin-left: 65vw; */
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.2rem;
    box-shadow:1px 0px 10px rgba(0, 0, 0, 0.699) ;
}
nav{
    width: 75vw;
    min-width: 1000px;
    max-width: 60vw;

}
.burga{
    display: none;
    }
h1{ 
    overflow: hidden;
    text-indent: -400px;
    background-image: url(../recursos/iconochoiz.png);
    width: 135px;
    height: 40px;
    background-size: cover;
}
nav{
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu a{
    color: antiquewhite;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 700;
    padding: 10px;
}
.menu a:hover{
    color:rgb(22, 0, 84);
    background: rgba(216, 221, 231, 0.301);
    background: linear-gradient(90deg, rgba(216, 221, 231, 0.50) 13%, rgba(215,243,255,0.50) 44%, rgba(184,206,255,0.50) 74%, rgba(68,230,255,0.50) 100%);
border-radius: 10px;

}
/* Banner */
@keyframes transicion{
    0% {background:url(../recursos/banner5.png);background-size: cover;}
    25%{background: url(../recursos/banner2.png);background-size: cover;}
    50%{background: url(../recursos/banner3.png);background-size: cover;}
    75%{background: url(../recursos/banner1.png);background-size: cover;}
    99%{background:url(../recursos/banner5.png);background-size: cover;}
}
.banner{
    width: 100vw;
    height: 50vw;
    display: flex;
    animation-name: transicion;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    justify-content: center;
    align-content: center;
}
.bannercont{
    margin-top: 20vw;
    width: 75vw;
    min-width: 1000px;
    max-width: 60vw;
}
h2{
    background-image: url(../recursos/iconochoiz.png);
    width: 270px;
    overflow: hidden;
    text-indent: -400px;
    height: 100px;
    background-size: cover;
}
.bannercont p{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.705)

}


/* Seccion Tratamientos */

#tratamientos{
    background: rgb(216,221,231);
    background: linear-gradient(90deg, rgb(192, 201, 218) 13%, rgb(54, 173, 224) 44%, rgb(202, 217, 247) 74%, rgb(163, 189, 193) 100%);
    background-size: 300% 100%;
    animation: transicionfondo 10s ease infinite;
    width: 100vw;
    height: 500px;
    flex-direction: column;
}
h3{
    color: rgb(3, 3, 87);
    font-size: 2rem;
    width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 65px;

}
.cardsTratamientos{
    display: flex;
    flex-direction: row;
    height: 250px; 
    width: 1000px;
    justify-content: space-between;
    margin: auto;
    gap: 2px;
}
.cardsTratamientos div{
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.5) ;
    border-radius: 40px;
}
.cardsTratamientos div:hover{
    box-shadow:1px 1px 40px rgba(255, 255, 255, 0.699) ;
    border-radius: 40px;
}
.cardtratamiento1{
    width: 240px;
    height: 240px;
    display: flex;
    background-image: url(../recursos/acaidamujer.png);
    background-size: cover;
}
.cardtratamiento2{
    width: 240px;
    height: 240px;
    display: flex;
    background-image: url(../recursos/acaidahombre.png);
    background-size: cover;
}
.cardtratamiento3{
    width: 240px;
    height: 240px;
    display: flex;
    background-image: url(../recursos/aanticonceptivos.png);
    background-size: cover;
}
.cardtratamiento4{
    width: 240px;
    height: 240px;
    display: flex;
    background-image: url(../recursos/adisfuncion.png);
    background-size: cover;
}
.cardsTratamientos h4{
    color: rgb(3, 3, 87);
    text-shadow: 1px 1px 2px rgba(73, 72, 72, 0.356);
    margin-top: 10%;
    margin-left: 5%;
    width: 160px;
}
.botonlink{
    margin-top: 180px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url(../recursos/iconos/aflecha\ .svg);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.664) ;
    border-radius: 40px;
}

.botonlink:hover{
   background: none;
    background-image: url(../recursos/iconos/afelcha\ hover.svg);
    box-shadow:1px 1px 10px rgba(243, 243, 243, 0.664) ;
}





/* Sección Como funciona */

#comofunciona{
    background: rgb(73,107,185);
    background: linear-gradient(90deg, rgba(73,107,185,1) 0%, rgba(82,160,193,1) 43%, rgba(26,96,255,1) 76%, rgba(81,153,164,1) 100%);
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: center;
}
.comofuncionacont{
    width: 1000px;
    height: 600px;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px 300px;
    grid-template-areas:  
    'como1 como5 como5'
    'como2 como3 como4'; 

}
.cardcomo1 h3{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.cardcomo1 p{
    color:white;
    font-size: 20px;
}

.cardcomo1{
    grid-area: como1;
    margin-top: 30px;
}
.cardcomo2{
    grid-area: como2;
    justify-self: baseline;
}
.cardcomo3{
    grid-area: como3;
    justify-self: center;

}
.cardcomo4{
    grid-area: como4;
    justify-self: end;

}
.cardcomo5{
    grid-area: como5;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    height: 100%;
    box-shadow:1px 1px 10px rgba(14, 2, 52, 0.603) ;
    justify-self: end;
}
.videocomo{
    width: 100%;
}



.cardcomo2, .cardcomo3, .cardcomo4{
 height:200px;
    background: linear-gradient(90deg, rgb(0, 187, 255) 0%, rgb(10, 161, 255) 0%, rgb(43, 22, 84) 48%, rgb(42, 46, 180) 100%);
    background-size: 300% 100%;
    animation: transicionfondo 10s ease infinite;
    border-radius:25%;
    width: 300px;
    height: 250px;
    box-shadow:1px 1px 10px rgba(5, 23, 136, 0.664) ;
    color: white;
    margin-top: 30px;
    padding: 10px;
    padding-top: 70px;
    text-align: center;
    box-shadow:1px 1px 10px rgba(14, 2, 52, 0.603) ;
}
.p1{
    font-size: 16px;
    font-weight: 600;
}
.p2{
    font-size: 13px;
    margin-top: 30px;
    font-weight: lighter;
}


/* seccion mision */

#mision{
    background: rgb(216,221,231);
    background: linear-gradient(90deg, rgb(192, 201, 218) 13%, rgb(54, 173, 224) 44%, rgb(202, 217, 247) 74%, rgb(163, 189, 193) 100%);
    background-size: 300% 100%;
    animation: transicionfondo 10s ease infinite;
    width: 100vw;
    height: 660px;
    color: rgb(3, 3, 87);
    display: flex;
    justify-content: center;
}

.misioncont{
    min-width: 1000px;
    max-width: 60vw;
    height: 600px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:  
    'cardmision1 cardmision1'
    'cardmision4 cardmision2'
    'cardmision4 cardmision3'; 
}

.cardmision1{
    grid-area: cardmision1;
    width: 400px;
}
.cardmision2{
    grid-area: cardmision2;
}
.cardmision3{
    grid-area: cardmision3;
}
.cardmision4{
    grid-area: cardmision4;
    overflow: hidden;
    border-radius: 50px;
    
}
.cardmision4 img{
    padding-right: 10%;
    height: 130%;
    
    
}
.cardmision3, .cardmision2{
    width:300px;
    font-size: 18px;
    justify-self: start;
}

/* Seccion preguntas frecuentes */

#QA{
    background: rgb(73,107,185);
    background: linear-gradient(90deg, rgba(73,107,185,1) 0%, rgba(82,160,193,1) 43%, rgba(26,96,255,1) 76%, rgba(81,153,164,1) 100%);
    width: 100vw;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    line-height: 27px;
}
.QAcontent{
    width: 1000px;
    margin: auto;
    color: rgb(3, 3, 87);
    color: white;
    display: grid;
    margin-top: 0px;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 100px 550px 500px;
    grid-template-areas: 
    "qa1 qa1"
    "qa2 qa5"
    "qa3 qa4";
    padding-top: 65px;
}
.QAcontent h4{
    font-size: 1.6rem;line-height: 2rem;
    margin-bottom: 10px;

}
.QA1{
    margin: 0px;
    grid-area: qa1;
    padding: 40px 0px 20px 0px;
    font-size: 2rem;
    color: white;
}
.QA2{
    grid-area: qa2;
    
}
.QA3{
    grid-area: qa3;
}
.QA3 p{
    font-weight: 700;
}
.QA4{
    grid-area: qa4;
    justify-self: end;
}
.QA5{
    grid-area: qa5;
    justify-self: end;
}
.QA5 ul{
    line-height: 50px;
}

.QA2, .QA3, .QA4, .QA5{

    background: linear-gradient(90deg, rgb(0, 187, 255) 0%, rgb(10, 161, 255) 0%, rgb(43, 22, 84) 48%, rgb(42, 46, 180) 100%);
    background-size: 300% 100%;
    animation: transicionfondo 10s ease infinite;
    border-radius:15%;
    padding-top: 40px;
    width: 440px;
    height: 500px;
    padding: 60px 30px 10px 30px;
    color: white;
    box-shadow:1px 1px 10px rgba(14, 2, 52, 0.603) ;
}

/* Footer */

footer{
        background: rgb(216,221,231);
        background: linear-gradient(90deg, rgb(1, 34, 46) 0%, rgb(5, 49, 77) 0%, rgb(43, 22, 84) 48%, rgb(42, 46, 180) 100%);
        background-size: 300% 100%;
        animation: transicionfondo 10s ease infinite;
        width: 100vw;
        height: 700px;
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 30px;
}
.footercontent{
    width: 1000px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 200px;
    grid-template-areas: 
    " formulario formulario"
    "copi listado";

}

.formulario{
    grid-area: formulario;
    display: grid;
    margin-top: 60px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 60px 100px 60px;
    grid-template-areas: 
    "title title"
    "name mail"
    "number textfield"
    "btn btn";    
}
.formtitle{
    grid-area: title;
    color: white;
    padding: 0px;
}
.fieldname{
    grid-area: name;
}
.fieldmail{
    grid-area: mail;
}
.fieldnumber{
    grid-area: number;
}
.fieldtext{
    grid-area: textfield;

}
.fieldbtn{
    grid-area: btn;
}
.btn{
    display:block;
        border:none;
        border-radius: 5px;
        background: linear-gradient(90deg, rgba(73,107,185,1) 0%, rgba(81,153,164,1) 100%);
        color:white;
        padding:5px 20px;
        cursor:pointer;
        text-decoration:none;
        font-weight:bold;
        font-size: 1.2rem;
        margin: auto;
}
.btn:hover{
    background:white;
        color:rgb(3, 3, 87);
}
.listado{
    grid-area: listado;
    line-height: 3rem;
    
}
.listado ul{
    list-style-type:circle;
    margin-left: 3rem;
}

.copy img{
    width: 150px;
}
.formfield {
    color:#000000; 
    background: white;
    border:none;
    border-radius: 10px;
    padding:15px;
    width:85%;
    display:block;
    font-family: 'Lato',Arial,sans-serif;
    font-size:14px;
    }